$color-one: #050505;
$color-two: #e6e6e6;
$color-three: #8b8b8b;
$color-four: #0a0a0a;
$color-five: #f8f8ff;
$whBlack-one: #5c5c5c;
$whBlack-two: #343C3B;
$whBlack-three: #1F2024;
$whBlack-four: #00000040;
$werid-color: #a80000;
$werid-red-color: #970C10;
$border-2px: 2px;